* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    background: lightblue;
}
#form-wrapper {
    width: 100vw;
    height: 100vh;
    background: #0008;
    display: grid;
    align-content: center;
    justify-items: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

#signup-form {
    height: 100vh;
    width: 50vw;
    display: grid;
    z-index: 1;
}


#signup-form > form {
    border: 2px solid black;
    background-color: #ffa07aaa;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
}

#signup-form > form > .buttons {
    display: grid;
    margin: .5rem;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
}

label::after {
    color: #f00;
    background: yellow;
    content: attr(data-after);
}